body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: url('jpg/val1.jpg') no-repeat center center fixed;
    background-size: cover;
}
header {
    background-color: #ff44007a; /* Arka plan rengini turuncu yapar */
    color: #ffffff; /* Metin rengini beyaz yapar */
}

.game-images img {
    margin: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #f4f4f4;
}